.donate-main{
    width: 100dvw;
    height: 100dvh;
    .donate-pg{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        overflow:scroll;
        .donate-pg-content{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            
            .title{
                padding-bottom: 1em;
            }
            .donate-details{
                width: 90%;
                display: flex;
                flex-direction: column;
                gap: 1em;
                .input-1{
                    display: flex;
                    flex-direction: column;
                    input{
                        padding: 1em;
                        border-radius: 10px;
                        outline: none;
                        border: 1px solid rgba(128, 128, 128, 0.369);
                    }
                }
                .two-inputs{
                    display: flex;
                    justify-content: space-around;
                    gap: 1em;
                    .input-6{
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        input{
                            padding: 1em;
                            outline: none;
                        border: 1px solid rgba(128, 128, 128, 0.369);
                        }
                    }
                }
            }
        }
        .btn{
            padding: 1em;
           background-color: var(--red);
           color: white;
           border-radius: 10px;
           border: none;
           outline: none;
        }
        
    }
}