.home-pg {
  width: 100vw;
  height: calc(100vh - 190px);
  background-color: #b92a2a;
  header {
    background: rgb(70, 5, 45);
    background: linear-gradient(
      90deg,
      rgba(70, 5, 45, 1) 0%,
      rgba(70, 5, 45, 1) 14%,
      rgba(80, 7, 50, 1) 28%,
      rgba(84, 8, 50, 1) 45%,
      rgba(94, 9, 51, 1) 55%,
      rgba(106, 11, 55, 1) 65%,
      rgba(97, 8, 52, 1) 68%,
      rgba(153, 23, 71, 1) 78%,
      rgba(179, 35, 70, 1) 100%
    );
    width: 100%;
    height: 25%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 1em;
    .profile {
      display: flex;
      color: white;
      margin-left: 1em;
      height: 100%;
      gap: 1em;
      cursor: pointer;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .profile-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .name{
        
            font-size: large;
            font-weight: bold;
          }
      }
    }
    .notification {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1em;
      width: 50px;
      height: 50px;
      /* background-color: white; */
      color: white;
      border-radius: 50%;
      font-size: 1.5em;
      cursor: pointer;
    }
  }
  .container {
    width: 100%;
    height: 88%;
    background-color: #f9f9f9;
    margin-top: -2em;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 1em;
    .event {
      width: 100%;
      .slide {
        width: 100%;

        overflow-x: scroll;
        display: flex;
        gap: 1em;
        padding: 0.5em;
        .cards {
          min-width: 180px;
          height: 130px;
          border-radius: 15px;
          padding: 1em;
          cursor: pointer;
          align-items: center;

          color: white;
          img {
            width: 120px;
          }
        }
        .card1 {
          background: linear-gradient(
            180deg,
            rgb(217, 217, 217) 0%,
            rgb(179, 35, 70) 0%,
            rgb(70, 5, 45) 100%
          );
        }
        .card2 {
          background: linear-gradient(
            180deg,
            rgb(30, 30, 30) 0%,
            rgb(73.12, 91.56, 211.44) 0%,
            rgb(8.75, 15.23, 106.04) 100%
          );
        }
        .card3 {
          background: linear-gradient(
            180deg,
            rgb(30, 30, 30) 0%,
            rgb(178.5, 36.74, 121.8) 0%,
            rgb(92.65, 15.36, 56.58) 100%
          );
          backdrop-filter: blur(10px); /* Adjust the blur intensity */
          -webkit-backdrop-filter: blur(10px);
        }
        .card4 {
          background: linear-gradient(
            180deg,
            rgb(30, 30, 30) 0%,
            rgb(61.03, 204, 75.33) 0%,
            rgb(14.96, 100.3, 14.96) 100%
          );
        }
      }
    }
    .dash-cards {
      width: 100%;
      height: 80%;
      display: flex;
      flex-wrap: wrap;
      padding: 0.5em;
      gap: 0.5em;
      /* background-color: aqua; */
      overflow: scroll;
      padding-bottom: 5em;
      margin-top: 1em;
      .dash-card {
        min-width: 48.7%;
        max-width: 48%;
        height: 130px;
        background-color: white;
        border-radius: 15px;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 1em;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        .icons {
          font-size: 3em;
        }
        h3 {
          text-wrap: wrap;
          font-size: 1em;
        }
        
      }
      .dash-card:last-child{
        margin-bottom: 3em;
      }
    }
  }
}