.login-pg{
    width: 100vw;
    height: calc(100vh - 190px);
    .header{
        display: flex;
        
        .header-bg {
            width: 100px;
            height: 160px;
            background: linear-gradient(to right, #6d011e, #a81e42);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
          
        }
        .header-bg-off{
            display: flex;
            justify-content: end;
            width: 330px;
            height: 160px;
            background: linear-gradient(to right, #a81e42, hsl(344, 65%, 41%));
            clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
           
        }
    }
    .header-content{
        color: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 3em;
        left: 6em;
    }
    .login-sec{
        width: 100%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        /* margin-top: 1em; */   
        .sec-head{
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--grey);
        }
        .input-field{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .input{
                background-color: white;
                width: 100%;
                padding: 0.5em 0.3em;
                border-radius: 10px;
                border: 1px solid rgba(128, 128, 128, 0.369);
                
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                input{
                    outline: none;
                    border: none;
                    padding-left:0.5em ;
                }
            }
            p{
                text-align: right;
                color: rgb(13, 116, 234);
            }
        }
       .login-btn{
        button{
            width: 100%;
           height: 45px;
           border-radius: 10px;
           background-color: var(--red);
           color: white;
           cursor: pointer;
        }
       } 
       .or{
        margin-top: 1em;
        display: flex;
        align-items: center;
        /* background-color: aqua; */
        .left,.right{
            width: 200px;
            border-bottom:1px solid black ;
        }
        .center{
            padding: 0em 10px;
        }
    }
    .google{
        .google-div{
            display: flex;
            align-items: center;
            justify-content: center;
            
            gap: 1em;
            background-color: #4285F4;
            padding: 0.5em;
            color: white;
            border-radius: 10px;
           
            cursor: pointer;
        }
    }
    }
}