.emergency-main {
  width: 100vw;
  height: calc(100vh - 190px);
  background-color: #f9f9f9;
  /* padding: 1em;         */
  padding-bottom: 2em;
  header {
    padding-left: 1em;
    background: rgb(70, 5, 45);
    background: linear-gradient(
      90deg,
      rgba(70, 5, 45, 1) 0%,
      rgba(70, 5, 45, 1) 14%,
      rgba(80, 7, 50, 1) 28%,
      rgba(84, 8, 50, 1) 45%,
      rgba(94, 9, 51, 1) 55%,
      rgba(106, 11, 55, 1) 65%,
      rgba(97, 8, 52, 1) 78%,
      rgba(153, 23, 71, 1) 88%,
      rgba(179, 35, 70, 1) 100%
    );
    color: white;
    height: 6em;
    display: flex;
    align-items: center;
    h2 {
      padding-left: 0.5em;
    }
  }
  .container {
    width: 100%;
    height: 90%;
    overflow: scroll;
    /* background-color: aqua; */
    padding: 0em 1em;
    padding-bottom: 1em;
    /* overflow-y: scroll; */
    .container-fields {
      display: flex;
      align-items: center;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 20px;
      padding: 1em;
      margin-top: 1em;
      .img {
        img {
          width: 70px;
          border-radius: 50%;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0em 1em;
      }
      .call {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 50px;
        font-size: 2em;
        background-color: var(--red);
        color: #ffffff;
        border-radius: 10px;
        font-size: 1.3em;
      }
    }
  }
}
